{% extends "layout.html" %}

{% block any_word %}

    <style>
        #index_h2_tittle{
            color:steelblue;font-family: sans-serif;font-weight: bold;font-style: italic;align-items: center;display: flex;flex-direction: column;"
        }
    </style>

<div style="background-color: #eee;">
    <div class="title_div" style="background-color: white;">
        <h2 id="index_h2_tittle"><span>My 3<sup>rd</sup> <i class="fa fa-eye">&nbsp;</i></span></h2>
    </div>
    
  <div class="login-container" style="margin-top:-100px;">
    <div class="login-form">
      
      <div class="row text-center">
        <div class="col-md-12">
          <h4>LOGIN</h4>
        </div>
      </div><br>
      {{ wrong_credential }}
      <form method="POST">
        <label for="email">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Enter username" autofocus>

        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Enter password">

        <div>
          <div class="col-md-12 text-center">
            <button class="btn btn-light" style="text-align: center;display: inline-flex;"><i class="fa fa-lock-open"></i>&nbsp;&nbsp;Login</button><br><br>
            <a onclick="window.location.href='#'" id="forgotpswd"><i class="fa fa-user"></i>Sign Up</a>&nbsp;&nbsp;&nbsp;<a onclick="window.location.href='#'" ><i class="fa fa-key"></i> Forgot password</a>
          </div>
        </div>
        
      </form>
    </div>
  </div>

</div>
{% endblock%}